.u-center-text {
    text-align: center;
}

.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-top-large {
    margin-top: 8rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-small {
    margin-top: 1rem;
}

.u-margin-top-huge {
    margin-top: 10rem;
}

.u-float-left {
    // display: inline-block;
    float: left;
}

.u-float-right {
    // display: inline-block;
    float: right;
}

.u-padding-small-btn {
    padding: 0.9rem 4rem !important;
}

.u-margin-top-huge-px {
    margin-top: 42px;
}

.u-margin-bottom-small-px {
    margin-bottom: 2px;
}

.u-padding-small-bottom {
    padding-bottom: 5px;
}

.u-margin-neg-top-small-px {
    margin-top: -12px;
}

.responsive__margin {
    content: "";
    border-radius: 3px;
    display: block;
    height: 100%;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    @include respond(tab-port) {
        width: 90%;
    }

    @include respond(phone) {
        width: 100%;
    } 
}
