// colors
$color-grey-console: rgb(33, 33, 33);
$color-red-text: rgb(133, 45, 54);
$color-green-text: rgb(13, 153, 58);

$color-logo-left: rgb(225, 153, 51);
$color-logo-right: rgb(15, 15, 15);

$color-lemon: rgb(239, 228, 176);

$color-grey-bg-dark: rgb(159, 159, 159);
$color-grey-bg-light: rgb(231, 231, 231);
$color-white: rgb(255, 255, 255);
$color-white-page: rgb(240, 240, 240);

$color-black: rgb(0, 0, 0);
$color-strip: rgb(36, 41, 46);

$color-input-acceptable: #55c57a;
$color-primary: #55c57a;
$color-input-error: #ff7730;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;