.strip {
    height: 1.5vh;
    background-color: $color-strip;
    position: relative;
    width: 100%;
    z-index: 10;
    margin-bottom: 4.5vh;
}

body {
    background-image: rgb(240, 240, 240); //radial-gradient($color-grey-bg-light, $color-grey-bg-dark);
    height: 100vh;
}

.security-main {
    position: relative;
}

.dynamic-margin {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 37.5rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-lemon;

    @include respond(tab-port) {
        width: 90%;
    }

    & > * {
        box-shadow: none;
    }

}

.login-form {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 42rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-lemon;

    @include respond(tab-port) {
        width: 90%;
    }

    & > * {
        box-shadow: none;
    }

}

.fp-form {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 30rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-lemon;

    @include respond(tab-port) {
        width: 90%;
    }

    & > * {
        box-shadow: none;
    }

    &--center {
        display: block;
        font-size: 2rem;
        text-align: center;
        padding-top: 11.6rem;
    }
}

.signup-form {
    content: "";
    border-radius: 3px;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    height: 55.5rem;
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-lemon;

    @include respond(tab-port) {
        width: 90%;
    }

    & > * {
        box-shadow: none;
    }

}