.alert {
    position: relative;
    height: 15rem;
    font-size: 1.6rem;
    margin-top: 2.5rem;

    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-lemon;
    padding-top: 2rem;

    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-port) {
        width: 90%;
    }

    & > * {
        box-shadow: none;
    }

    background-color: $color-grey-console;

    &--info {
        padding-left: 3rem;
        color: $color-green-text;
    }

    &--danger {
        padding-left: 3rem;
        color: $color-red-text;
    }



}