.article {
    font-size: 1.6rem;
    margin: 3rem auto;
    display: block;
    max-width: 1360px;
    width: 100%;
    min-height: 500px;
    background-color: $color-lemon;
    padding: 20px;
    overflow: hidden;


    pre {
        max-width: 1000px;
        display: block;
        margin-left: 3rem;
        
    }

    code {
        color: white;
        background-color: rgb(40, 42, 54);
    }

    &--title {
        color: $color-logo-left;
        text-align: center;
        font-size: 4.5rem;
    }

    &--author {
        color: $color-blue-text;
        font-size: 2rem;
    }

    &--normal {
        color: black;
        font-size: 2rem;
    }

    &--date {
        color: black;
        text-align: right;
        display: block;
        padding-right: 3rem;
        font-size: 2rem;
    }
}