.navigation {
    background-color: $navigation-bar-color;
    height: 3rem;
    min-height: 2.75vh;

    @include respond(phone) {
        display: none;
        height: 0;
    }

    &__wrapper {
        display: inline-block;
        height: 100%;

        @include respond(tab-port) {
            width: 100%; 
        }
    }

    // &__pwrapper {
    //     display: none;
    //     cursor: default;

    //     @include respond(phone) {
    //         cursor: pointer;
    //         display: inline-block;
    //         width: 100%;
    //         height: 100%;
    //         cursor: pointer;
    //     }
    // }

    &__item {
        float: left;
        width: 17rem;
        vertical-align: middle;
        overflow: hidden;
        height: 3rem;
        min-height: 2.75vh;
        position: relative;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        @include respond(tab-port) {
            width: 15rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__list {
        list-style: none;
        height: 3rem;
    }

    &__link--orange {
        border-top: orange solid 1px;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        line-height: 3rem;
        vertical-align: center;
        overflow: hidden;

        &:link,
        &:visited {
            color: white;
            background-color: $navigation-bar-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            height: 100%;
            vertical-align: middle;
        }

        &:hover,
        &:active {
            background-color: orange;
            color: black;
            height: 100%;
            vertical-align: middle;
        }
    }

    // &__phone {
    //     display: none;
    //     position: relative;

    //     @include respond(phone) {
    //         display: inline-block;
    //         position: absolute;
    //         width: 25px;
    //         top: 50%;
    //         left: 90%;
    //         transform: translate(-50%, -50%);
    //     }

    //     &--line1, &--line2, &--line3 {
    //         display: none;

    //         @include respond(phone) {
    //             display: block;
    //             width: 25px;
    //             height: 2px;
    //             background-color: white;
    //             margin: 4px;
    //         }
    //     }

    //     &--active {
    //         display: none;

    //         @include respond(phone) {
    //             background-color: $navigation-bar-color;
    //             height: 95vh;
    //             position: fixed;

    //         }
    //     }
    // }
}
