.navigation {
    background-color: $navigation-bar-color;
    height: 3rem;
    min-height: 1.75vh;

    @include respond(phone) {
        display: none;
        height: 0;
    }

    &__wrapper {
        display: inline-block;
        height: 100%;

        @include respond(tab-port) {
            width: 100%; 
        }
    }

    &__item {
        float: left;
        width: 17rem;
        vertical-align: middle;
        overflow: hidden;
        height: 3rem;
        min-height: 1.75vh;
        position: relative;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        @include respond(tab-port) {
            width: 15rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__list {
        list-style: none;
        height: 3rem;
    }

    &__link--orange {
        border-top: orange solid 1px;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        line-height: 3rem;
        vertical-align: center;
        overflow: hidden;

        &:link,
        &:visited {
            color: white;
            background-color: $navigation-bar-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            height: 100%;
            vertical-align: middle;
        }

        &:hover,
        &:active {
            background-color: orange;
            color: black;
            height: 100%;
            vertical-align: middle;
        }
    }

}
